@model MDB.Models.Distributor

@{
    ViewBag.Title = "Details " + Model.Name;
}
<div class="mainDetails">
    <div class="prevent-select" style="padding-top:10px;">
        <div style="display:grid; grid-template-columns:auto 35px 35px; align-items:baseline;">
            <div class="DistributorName"> @Model.Name</div>
            @if ((bool)Session["CRUD_Access"])
            {
                @Helper.IconCmd("Distributors", "Edit/" + Model.Id, "fa-edit", "Modifier...")
                @Helper.IconConfirmCmd("Distributors", "Delete/" + Model.Id, "fa-times-rectangle-o", "Effacer " + Model.Name + "?")
            }
        </div>
        <div class="DistributorDetails-left">
            <div>
                @Helper.Image(Model.GetLogoURL(false), "largeLogo")
                <div style="display: grid; grid-template-columns: 45px auto; margin-left:1px; margin-top: 8px; margin-bottom: 8px;align-items:center">
                    @Helper.CountryFlag(Model.CountryCode)
                    <div> </div>

                </div>
            </div>
            <div class="DistributorDetails-right">
                <div class="detailsSectionTitle">Filmographie</div>
                <div class="MoviesContainer" style="margin-top:10px">
                    @{ Html.RenderPartial("~/Views/Movies/Movies.cshtml", Model.Movies); }
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("retour", "Index")
        </p>
    </div>
</div>