@model MDB.Models.Movie
@{
    string pageTitle = Model.Id == 0 ? "Ajout de film" : "Modification de film";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h3>@pageTitle</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.PosterImageKey)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Synopsis, htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Synopsis, new { @class = "form-control wideTextarea", @rows = "8" })
                @Html.ValidationMessageFor(model => model.Synopsis, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ReleaseYear, htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReleaseYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReleaseYear, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Helper.CountrySelector("CountryCode", Model.CountryCode)
                @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PosterImageData, htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Helper.ImageUploader(Model.Id, "PosterImageData", Model.GetPosterURL(), "~/Images_Data/Loading_icon.gif", "Cliquez pour choisir une image")
                @Html.ValidationMessageFor(model => model.PosterImageData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Acteurs", htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Helper.SelectionLists("SelectedActorsId", ViewBag.Castings, ViewBag.Actors, 8)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Distributeurs", htmlAttributes: new { @class = "control-label col-md-2 legend" })
            <div class="col-md-10">
                @Helper.SelectionLists("SelectedDistributorsId", ViewBag.Distributions, ViewBag.Distributors, 8)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enregistrer" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour", "Index")
</div>
